*{
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
}

.app {
  height: 100vh;
  padding-bottom: 200px;
}

.pop{
  background-color: white;
  position: absolute;
  width: 569px;
  height: 513px;
  left: 501px;
  top: 200px;
  border-radius: 20px;
}

.drink {
  width: 208px;
  height: 144px;
  margin: 17px 0 0 40px;
}

.cover {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 40px;
}

.enclose {
  display: flex;
  align-items: center;
  margin-right: 40px;
  justify-content: center;
  padding: 3px 5px;
  gap: 5px;
  width: 83px;
  height: 23px;
  background-color: #E7F1F9;
  border-radius: 12px;
}

.icon {
color: blue;
}

.thrills {
  font-size: 20px;
  font-weight: 700;
}

.available {
  font-size: 14px;
  font-weight: 500;
}

.carton {
  margin-left: 40px;
  font-size: 20px;
  font-weight: 500;
}

.center {
  display: flex;
  margin-top: 70px;
  justify-content: space-between;
}

.level {
  width: 138px;
  height: 26px;
  background-color: #71A8DF;
  padding: 17px 20px 15px;
  border-radius: 10px;
  margin-left: 40px;
}

.history {
  width: 122px;
  height: 26px;
  background-color: #71A8DF;
  padding: 17px 20px 15px;
  border-radius: 10px;
  margin-right: 40px;
}

.back {
  width: 491px;
  height: 57px;
  margin-left: 40px;
  padding: 17px 20px 15px;
  background-color: #0A6EC7;
  border-radius: 10px;
  margin-top: 30px;
  border: none;
  outline: none;
}